<html>

	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">				
		<title>HERO</title>
		
		<link rel="stylesheet" href="/static/css/style.css">
		<link rel="stylesheet" href="/static/css/skel.css">

		
		<style>
		</style>
	</head>

	<body>
        <!-- Header -->
                        <header id="header">
                                <h1><a href="/">Beji</a></h1>
                                <nav id="nav">
                                        <ul>
                                                <li><a href="/">Home</a></li>
                                                <li>|</li>
                                                <li><a href="/community">Community</a></li>
                                                <li>|</li>
                                                <li><a href="/info">Information</a></li>
                                                <li>|</li>
                                                <li><a href="/" class="button special">X.O.X.O</a></li>
                                        </ul>
                                </nav>
                        </header>



	<!--maps-->

			{{$p := .Profile.Data}}

			<section class="wrapper style2">
				<header class="name">
					<class class="strong">
					Lv.{{$p.Level}}
					</class>
					<br>
					<class class="style2">
					{{$p.Username}}
					</class>
				</header>


				<div class="container">
                                        <div class="row">
                                                <div class="2u">
							<input type="image" class="image fit rad" src="{{$p.Avatar}}">
                                                </div>
                                                <div class="4u detail">
							<p class="detail">
							<p class="red"> 빠른 대전</p> </br></br>
							레벨 : {{$p.Level}} </br></br>
							승률 : {{$p.Games.Quick.Wins}}승 {{$p.Games.Quick.Lost}}패 </br></br>
							플레이 시간 : {{$p.Playtime.Quick}} </br></br>
							</p>
                                                </div>
                                                <div class="2u">
							<input type="image" class="image fit rad" src="{{$p.LevelFrame}}">
							<input type="image" class="image fit star" src="{{$p.Star}}">
                                                </div>
                                                <div class="4u detail">
                                                        <p class="detail">
                                                        <p class="red"> 경쟁전</p> </br></br>
                                                        랭크 : {{$p.Competitive.Rank}} </br></br>
                                                        승률 : {{$p.Games.Competitive.Wins}}승 {{$p.Games.Competitive.Lost}}패 </br></br>
                                                        플레이 시간 : {{$p.Playtime.Competitive}} </br></br>
                                                        </p>
                                                </div>
                                        </div>

				</div>

			</section>
                                        <!-- Footer -->
                        <footer id="footer">
                                <div class="container">
                                        <div class="row double">
                                                <div class="6u">
                                                        <div class="row collapse-at-2">
                                                                <div class="6u">
                                                                        <class>전적 검색</class>
                                                                        <ul class="alt">

                                                                                <li>
                                                                                <br>
                                                                                <a href="https://overlog.net/">오버로그</a></li>
                                                                                <li><a href="http://ihigs.kr/">오버워쳐</a></li>
                                                                                <li><a href="https://dva.lu/">DVA.LU</a></li>
                                                                                <li><a href="http://overwatch.inven.co.kr/overank">오버랭크
</a></li>
                                                                        </ul>
                                                                </div>
                                                                <div class="6u">
                                                                        <class>커뮤니티</class>
                                                                        <ul class="alt">
                                                                                <li>
                                                                                <br>
                                                                                <a href="https://playoverwatch.com/ko-kr/">공식</a></li>
                                                                                <li><a href="http://overwatch.inven.co.kr/">인벤</a></li>
                                                                                <li><a href="http://www.todayhumor.co.kr/board/list.php?table=overwatch">오유:오버워치 게시판</a></li>
                                                                                <li><a href="cafe.naver.com/tpeasytoon">오버워치 공식 한국>커뮤니티</a></li>
                                                                        </ul>
                                                                </div>
                                                        </div>
                                                </div>

                                                <div class="6u">
                                                        <class>Ji-Woo Kang</class>
                                                                                <br>
                                                                                <br>
                                                </div>
                                        </div>
                                        <ul class="copyright">
                                                <li>&copy; jiwoodidy@nate.com All rights reserved.</li>
                                                <li>Language: GO</li>
                                                <li>framework: Beego</li>
                                        </ul>
                                </div>
                        </footer>

	</body>
</html>

