<html>

	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">				
		<title>HERO</title>
		
		<link rel="stylesheet" href="/static/css/style.css">
		<link rel="stylesheet" href="/static/css/skel.css">

		
		<style>
		</style>
	</head>

	<body>
	<!-- Header -->
			<header id="header">
				<h1><a href="/">Beji</a></h1>
				<nav id="nav">
					<ul>
						<li><a href="/">Home</a></li>
						<li>|</li>
						<li><a href="/favorite">Favorite</a></li>
						<li>|</li>
						<li><a href="/link">Link</a></li>
						<li>|</li>
						<li><a href="/class">Class</a></li>
						<li>|</li>
						<li><a href="/login" class="button special">Sign Up</a></li>
					</ul>
				</nav>
			</header>


	<!--maps-->

			{{$p := .Profile.Data}}

			<section class="wrapper style2">
				<header class="name">
					<class class="strong">
					Lv.{{$p.Level}}
					</class>
					<br>
					<class class="style2">
					{{$p.Username}}
					</class>
				</header>


				<div class="container">
                                        <div class="row">
                                                <div class="2u">
							<input type="image" class="image fit rad" src="{{$p.Avatar}}">
                                                </div>
                                                <div class="2u detail">
							<p class="detail">
							<p class="red"> 빠른 대전</p> </br></br>
							레벨 : {{$p.Level}} </br></br>
							승률 : {{$p.Games.Quick.Wins}}승 {{$p.Games.Quick.Lost}}패 </br></br>
							플레이 시간 : {{$p.Playtime.Quick}} </br></br>
							</p>
                                                </div>
                                                <div class="2u">
							<input type="image" class="image fit rad" src="{{$p.LevelFrame}}">
							<input type="image" class="image fit star" src="{{$p.Star}}">
                                                </div>
                                                <div class="2u detail">
                                                        <p class="detail">
                                                        <p class="red"> 경쟁전</p> </br></br>
                                                        랭크 : {{$p.Competitive.Rank}} </br></br>
                                                        승률 : {{$p.Games.Competitive.Wins}}승 {{$p.Games.Competitive.Lost}}패 </br></br>
                                                        플레이 시간 : {{$p.Playtime.Competitive}} </br></br>
                                                        </p>
                                                </div>
                                        </div>

				</div>

			</section>
	</body>
</html>

