<html>

	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">				
		<title>MAP - CHARACTERS </title>
		
		<link rel="stylesheet" href="/static/css/style.css">
		<link rel="stylesheet" href="/static/css/skel.css">

		
		<style>
		</style>
	</head>

	<body>
        <script>
        function hover_ch(arg){
        var e = document.getElementById(arg);
        e.style.backgroundColor = 'white';
        e.style.color= 'black';
        e.style.fontSize = '2.5em';
	e.style.width = '120%';
        }
        function normal_ch(arg){
        var e = document.getElementById(arg);
        e.style.backgroundColor = "rgba(44, 60, 130, 0.8)";
        e.style.color= 'white';
        e.style.fontSize = '2em';
	e.style.width = '100%';
        }
        </script>

	<!-- Header -->
			<header id="header">
				<h1><a href="/">Beji</a></h1>
				<nav id="nav">
					<ul>
						<li><a href="/">Home</a></li>
						<li>|</li>
						<li><a href="/favorite">Favorite</a></li>
						<li>|</li>
						<li><a href="/link">Link</a></li>
						<li>|</li>
						<li><a href="/class">Class</a></li>
						<li>|</li>
						<li><a href="/login" class="button special">Sign Up</a></li>
					</ul>
				</nav>
			</header>


	<!--maps-->
				{{$map := .Map}}

			<section class="wrapper style1">
				<header class="major">
					<class class="main">{{$map.KMapid}}</class>
				</header>


				<div class="container big">
					<hr class="major">
						<br><class class="strong">공격</class><br>
					<hr>
                                        <div class="row">
					{{range $chars := .Offense}}
                                                <div class="image icon">
<form class="img" name="char" action="/characters/char" method="get">
<input type="hidden" name="charid" value="{{$chars.Char.Charid}}">
<input type="image" class="image auto" onmouseover="hover_ch({{$chars.Char.Charid}})" onmouseout="normal_ch({{$chars.Char.Charid}})" src="/static/img/chars/{{$chars.Char.Class}}/{{$chars.Char.Charid}}.png">
</form>
<div class="icon name" id="{{$chars.Char.Charid}}">
	<img src="/static/img/icons/class/{{$chars.Char.Class}}_small.png" style="display: inline-block;">
{{$chars.Char.KCharid}}
<p class="red">{{$chars.Explain}}</p>
</div>
                                                </div>
					{{end}}
                                        </div>
					<hr class="major">
						<br><class class="strong">수비</class><br>
					<hr>
                                        <div class="row">
					{{range $chars := .Defense}}
                                                <div class="image icon;">
<form class="img" name="char" action="/characters/char" method="get">
<input type="hidden" name="charid" value="{{$chars.Char.Charid}}">
<input type="image" class="image auto" onmouseover="hover_ch({{$chars.Char.Charid}})" onmouseout="normal_ch({{$chars.Char.Charid}})" src="/static/img/chars/{{$chars.Char.Class}}/{{$chars.Char.Charid}}.png">
</form>
<div class="icon name" id="{{$chars.Char.Charid}}">
	<img src="/static/img/icons/class/{{$chars.Char.Class}}_small.png" style="display: inline-block;">
{{$chars.Char.KCharid}}
<p class="red">{{$chars.Explain}}</p>
</div>
                                                </div>
					{{end}}
                                        </div>



				</div>

			</section>
	</body>
</html>

