<html>

	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">				
		<title>MAP</title>
		
		<link rel="stylesheet" href="/static/b/css/bootstrap.min.css">
		<link rel="stylesheet" href="/static/css/style.css">
		<link rel="stylesheet" href="/static/css/skel.css">
		<link rel="stylesheet" href="/static/css/style-xlarge.css">
		<link rel="stylesheet" href="/static/css/font-awesome.min.css" />

		
		<style>
		</style>
	</head>

	<body>
	<!-- Header -->
			<header id="header">
				<h1><a href="/">Beji</a></h1>
				<nav id="nav">
					<ul>
						<li><a href="/">Home</a></li>
						<li>|</li>
						<li><a href="/favorite">Favorite</a></li>
						<li>|</li>
						<li><a href="/link">Link</a></li>
						<li>|</li>
						<li><a href="/class">Class</a></li>
						<li>|</li>
						<li><a href="/login" class="button special">Sign Up</a></li>
					</ul>
				</nav>
			</header>


	<!--maps-->
			<section id="two" class="wrapper style1">
				<header class="major">
					<class class="main">OverWatch Maps</class>
				</header>
				<div class="container">

<hr>
					<div class="row" >
                                                <div class="2u">
					<class class="strong" title="공격/수비">거점 점령</class> 
						</div>

					{{range $maps := .assault}}
						<div class="3u" style="text-align:center;">
	<br>
<form name="map" action="/maps/charsformap" method="get">
	<input type="hidden" name="mapid" value="{{$maps.Mapid}}">
        <input type="image" class="image fit" src="static/img/maps/{{$maps.Class}}/{{$maps.Mapid}}.jpg">
	{{$maps.KMapid}} <br><br>

        <input type="submit" class="button alt" value="영웅" >
</form>
<form name="map" action="/maps/map" method="get">
<input type="hidden" name="mapid" value="{{$maps.Mapid}}">
        <input type="submit" class="button alt" value="지도" >
</form>

						</div>
						{{end}}

                                                </div>


<hr>
                                        <div class="row" >
                                                <div class="2u">
                                        <class class="strong" title="공격">거점 쟁탈</class> 
                                                </div>
                                                
                                        {{range $maps := .control}}
					<div class="3u" style="text-align:center;">
        <br>                                    
<form name="map" action="/maps/charsformap" method="get">
        <input type="hidden" name="mapid" value="{{$maps.Mapid}}">
        <input type="image" class="image fit" src="static/img/maps/{{$maps.Class}}/{{$maps.Mapid}}.jpg">
	{{$maps.KMapid}} <br><br>
                                                        
        <input type="submit" class="button alt" value="영웅" >
</form>
<form name="map" action="/maps/map" method="get">
<input type="hidden" name="mapid" value="{{$maps.Mapid}}">
        <input type="submit" class="button alt" value="지도" >
</form>                                         
                                                
                                                </div>
                                                {{end}}
                                                
                                                </div>


<hr>
                                        <div class="row" >
                                                <div class="2u">
                                        <class class="strong" title="공격/수비">화물 운송</class> 
                                                </div>
                                                
                                        {{range $maps := .escort}}
                                        <div class="3u" style="text-align:center;">
        <br>
<form name="map" action="/maps/charsformap" method="get">
        <input type="hidden" name="mapid" value="{{$maps.Mapid}}">
        <input type="image" class="image fit" src="static/img/maps/{{$maps.Class}}/{{$maps.Mapid}}.jpg">
	{{$maps.KMapid}} <br><br>

        <input type="submit" class="button alt" value="영웅" >
</form>
<form name="map" action="/maps/map" method="get">
<input type="hidden" name="mapid" value="{{$maps.Mapid}}">
        <input type="submit" class="button alt" value="지도" >
</form> 
                                                </div>
                                                {{end}}
                                                
                                                </div>

<hr>
                                        <div class="row" >
                                                <div class="2u">
                                        <class class="strong" title="공격/수비">점령 > 화물</class> 
                                                </div>
                                                
                                        {{range $maps := .assaultEscort}}
                                        <div class="3u" style="text-align:center;">
        <br>
<form name="map" action="/maps/charsformap" method="get">
        <input type="hidden" name="mapid" value="{{$maps.Mapid}}">
        <input type="image" class="image fit" src="static/img/maps/{{$maps.Class}}/{{$maps.Mapid}}.jpg">
	{{$maps.KMapid}} <br><br>

        <input type="submit" class="button alt" value="영웅" >
</form>
<form name="map" action="/maps/map" method="get">
<input type="hidden" name="mapid" value="{{$maps.Mapid}}">
        <input type="submit" class="button alt" value="지도" >
</form> 
                                                </div>
                                                {{end}}
                                                
                                                </div>





				</div>
			</section>
	</body>
</html>

