<html>

	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">				
		<title>HERO</title>
		
		<link rel="stylesheet" href="/static/css/style.css">
		<link rel="stylesheet" href="/static/css/skel.css">

		
		<style>
		</style>
	</head>

	<body>
	<!-- Header -->
			<header id="header">
				<h1><a href="/">Beji</a></h1>
				<nav id="nav">
					<ul>
						<li><a href="/">Home</a></li>
						<li>|</li>
						<li><a href="/favorite">Favorite</a></li>
						<li>|</li>
						<li><a href="/link">Link</a></li>
						<li>|</li>
						<li><a href="/class">Class</a></li>
						<li>|</li>
						<li><a href="/login" class="button special">Sign Up</a></li>
					</ul>
				</nav>
			</header>


	<!--maps-->
				{{$map := .Map}}

			<section class="wrapper style1">
				<header class="major">
					<class class="main">{{$map.KMapid}}</class>
				</header>


				<div class="container big">
                                                <div style="margin-left:-3%;text-align: center;">
<form name="char" action="/maps/map" method="get">
	<input type="hidden" name="mapid" value="{{$map.Mapid}}">
<input type="image" class="image" src="/static/img/map_detail/{{$map.Class}}/{{$map.Mapid}}.png">
{{$map.Explain}}
</form>
                                                </div>
                                        </div>
			</section>
	</body>
</html>

