<html>

	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">				
		<title>HERO</title>
		
		<link rel="stylesheet" href="/static/css/style.css">
		<link rel="stylesheet" href="/static/css/skel.css">
		<link rel="stylesheet" href="/static/css/style-xlarge.css">
		<link rel="stylesheet" href="/static/css/font-awesome.min.css" />

		
		<style>
		</style>
	</head>

	<body>
	<!-- Header -->
			<header id="header">
				<h1><a href="/">Beji</a></h1>
				<nav id="nav">
					<ul>
						<li><a href="/">Home</a></li>
						<li>|</li>
						<li><a href="/favorite">Favorite</a></li>
						<li>|</li>
						<li><a href="/link">Link</a></li>
						<li>|</li>
						<li><a href="/class">Class</a></li>
						<li>|</li>
						<li><a href="/login" class="button special">Sign Up</a></li>
					</ul>
				</nav>
			</header>


	<!--maps-->
				{{$map := .Map}}

			<section class="wrapper style1">
				<header class="major">
					<h2>{{$map.Mapid}}</h2>
				</header>


				<div class="container big">
						<br><h3>OFFENSE</h3><br>
                                        <div class="row">
					{{range $chars := .Offense}}
                                                <div style="margin-left:-3%;text-align: center;">
<form name="char" action="/characters/char" method="get">
<input type="hidden" name="charid" value="{{$chars.Char.Charid}}">
<input type="image" class="image auto" src="/static/img/chars/{{$chars.Char.Class}}/{{$chars.Char.Charid}}.png">
<br>{{$chars.Explain}}
</form>
                                                </div>
					{{end}}
                                        </div>
						<br><br><h1>DEFENSE</h1><br>
                                        <div class="row">
					{{range $chars := .Defense}}
                                                <div style="margin-left:-3%;text-align: center;">
<form name="char" action="/characters/char" method="get">
<input type="hidden" name="charid" value="{{$chars.Char.Charid}}">
<input type="image" class="image auto" src="/static/img/chars/{{$chars.Char.Class}}/{{$chars.Char.Charid}}.png">
<br>{{$chars.Explain}}
</form>
                                                </div>
					{{end}}
                                        </div>



				</div>

			</section>
	</body>
</html>

