<html>

	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">				
		<title>MAP</title>
		
		<link rel="stylesheet" href="/static/b/css/bootstrap.min.css">
		<link rel="stylesheet" href="/static/css/style.css">
		<link rel="stylesheet" href="/static/css/skel.css">
		<link rel="stylesheet" href="/static/css/style-xlarge.css">
		<link rel="stylesheet" href="/static/css/font-awesome.min.css" />

		
		<style>
		</style>
	</head>

	<body>
	<!-- Header -->
			<header id="header">
				<h1><a href="/">Beji</a></h1>
				<nav id="nav">
					<ul>
						<li><a href="/">Home</a></li>
						<li>|</li>
						<li><a href="/favorite">Favorite</a></li>
						<li>|</li>
						<li><a href="/link">Link</a></li>
						<li>|</li>
						<li><a href="/class">Class</a></li>
						<li>|</li>
						<li><a href="/login" class="button special">Sign Up</a></li>
					</ul>
				</nav>
			</header>


	<!--maps-->
			<section id="two" class="wrapper style1">
				<header class="major">
					<h1>Map</h1>
				</header>
				<div class="container">
					<div class="row">
						<div class="6u">
							<section class="special">
								<a href="/maps" class="image fit"><img src="/static/img/maps.png" alt="" /></a>
								<h2>Map</h2>
								  <form name="map" action="/maps/map" method="get">
    {{ .xsrfdata }}
    <div class="form-group">
      <label>맵이름</label>
      <input type="text" name="mapid" class="form-control" required>
	</div>
							</section>
						</div>
						<div class="6u">
							<section class="special">
								
								<a href="/characters" class="image fit"><img src="/static/img/characters.png" alt="" /></a>
								<h3>Character</h3>
							</section>
						</div>
					</div>
				</div>
			</section>
	</body>
</html>

