<html>

	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">				
		<title>HERO</title>
		
		<link rel="stylesheet" href="/static/css/style.css">
		<link rel="stylesheet" href="/static/css/skel.css">
		<link rel="stylesheet" href="/static/css/style-xlarge.css">
		<link rel="stylesheet" href="/static/css/font-awesome.min.css" />

		
		<style>
		</style>
	</head>

	<body>
	<!-- Header -->
			<header id="header">
				<h1><a href="/">Beji</a></h1>
				<nav id="nav">
					<ul>
						<li><a href="/">Home</a></li>
						<li>|</li>
						<li><a href="/favorite">Favorite</a></li>
						<li>|</li>
						<li><a href="/link">Link</a></li>
						<li>|</li>
						<li><a href="/class">Class</a></li>
						<li>|</li>
						<li><a href="/login" class="button special">Sign Up</a></li>
					</ul>
				</nav>
			</header>


	<!--maps-->

			{{$char := .Char}}

			<section class="wrapper style1">
				<header class="major">
					<h2>{{$char.Charid}}</h2>
				</header>


				<div class="container big">
                                        <div class="row">
                                                <div class="3u">
							<input type="image" class="image fit" src="/static/img/chars/{{$char.Class}}/{{$char.Charid}}.png">
                                                </div>
						<div class="6u" style="font-size: 1.5em;">
							</br></br></br></br></br>
							NAME : {{$char.Charid}} </br></br>
							CLASS : {{$char.Class}} </br></br>
							EXPLATIN : {{$char.Explain}} </br></br>
                                                </div>
                                        </div>

				</div>

			</section>
	</body>
</html>

