<html>

	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">				
		<title>MAP</title>
		
		<link rel="stylesheet" href="/static/css/style.css">
		<link rel="stylesheet" href="/static/css/skel.css">
		<link rel="stylesheet" href="/static/css/style-xlarge.css">
		<link rel="stylesheet" href="/static/css/font-awesome.min.css" />

		
		<style>
		</style>
	</head>

	<body>
	<!-- Header -->
			<header id="header">
				<h1><a href="/">Beji</a></h1>
				<nav id="nav">
					<ul>
						<li><a href="/">Home</a></li>
						<li>|</li>
						<li><a href="/favorite">Favorite</a></li>
						<li>|</li>
						<li><a href="/link">Link</a></li>
						<li>|</li>
						<li><a href="/class">Class</a></li>
						<li>|</li>
						<li><a href="/login" class="button special">Sign Up</a></li>
					</ul>
				</nav>
			</header>


	<!--maps-->
			<section id="two" class="wrapper style1">
				<header class="major">
					<class class="main">OverWatch Characters</class>
				</header>
				<div class="container big">

<hr class="major">
<class class="strong" title="OFFENSE">공격</class> 
<hr>
					<div class="row" >

					{{range $chars := .offense}}
						<div class="image icon">
	<br>
<form name="char" action="/characters/char" method="get">
	<input type="hidden" name="charid" value="{{$chars.Charid}}">
        <input type="image" class="image auto" src="static/img/chars/{{$chars.Class}}/{{$chars.Charid}}.png">
</form>
	<br>
	<div class="icon name">
	<img src="static/img/icons/class/offense_small.png" style="display: inline-block;">
		{{$chars.KCharid}} </div>


						</div>
						{{end}}

                                                </div>


<hr class="major">
					<class class="strong" title="DEFENSE">수비</class> 
<hr>
                                        <div class="row" >

                                        {{range $chars := .defense}}
                                                <div class="image icon">
        <br>                                    
<form name="char" action="/characters/char" method="get">
        <input type="hidden" name="charid" value="{{$chars.Charid}}">
        <input type="image" class="image auto" src="static/img/chars/{{$chars.Class}}/{{$chars.Charid}}.png">
	<br>
	<div class="icon name">
	<img src="static/img/icons/class/defense_small.png" style="display: inline-block;">
		{{$chars.KCharid}} </div>
                                        
</form>  
                                                
                                                </div>
                                                {{end}}
                                                
                                                </div>


<hr class="major">
					<class class="strong" title="TANK">돌격</class> 
<hr>
                                        <div class="row" >

                                        {{range $chars := .tank}}
                                                <div class="image icon">
        <br>                                    
<form name="char" action="/characters/char" method="get">
        <input type="hidden" name="charid" value="{{$chars.Charid}}">
        <input type="image" class="image auto" src="static/img/chars/{{$chars.Class}}/{{$chars.Charid}}.png">
	<br>
	<div class="icon name">
	<img src="static/img/icons/class/tank_small.png" style="display: inline-block;">
		{{$chars.KCharid}} </div>
                                        
</form>  
                                                </div>
                                                {{end}}
                                                
                                                </div>

<hr class="major">
					<class class="strong" title="SUPPORT">지원</class> 
<hr>
                                        <div class="row" >

                                        {{range $chars := .support}}
                                                <div class="image icon">
        <br>                                    
<form name="char" action="/characters/char" method="get">
        <input type="hidden" name="charid" value="{{$chars.Charid}}">
        <input type="image" class="image auto" src="static/img/chars/{{$chars.Class}}/{{$chars.Charid}}.png">
	<br>
	<div class="icon name">
	<img src="static/img/icons/class/support_small.png" style="display: inline-block;">
		{{$chars.KCharid}} </div>
                                        
</form>  
                                                </div>
                                                {{end}}
                                                
                                                </div>





				</div>
			</section>
	</body>
</html>

